body {
    background-color: #0F3460 !important;
    color: white !important;
    overflow-x: hidden;
}

.contact-icons {
    width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-icons:hover {
    animation: wiggle 0.3s;
}


.skill-icons {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.skill-icons:hover {
    animation: wiggle 0.3s;
}

.experience-icons {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.experience-icons:hover {
    animation: wiggle 0.3s;
}

.ccna-certs {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: invert(100%);
}

.ccna-certs:hover {
    animation: wiggle 0.3s;
  }

.certs {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.certs:hover {
    animation: wiggle 0.3s;
  }
  
.comptia-certs {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.comptia-certs:hover {
    animation: wiggle 0.3s;
  }

.skill-icons:hover {
    animation: wiggle 0.3s;
  }
  
  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }
  
  .skill-icons {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  


h2 {
    text-align: center;
}

.email {
    margin-top: 50px;
  }

.edu-icons {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.edu-icons:hover {
    animation: wiggle 0.3s;
  }

.wgu-icons {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: invert(100%);
}

.wgu-icons:hover {
    animation: wiggle 0.3s;
  }

ul {
    list-style-type: none;
    text-align: left;
  }

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px !important;
}


button:hover {
    filter: invert(100%) !important;
}

#h7Button {
background-color: #2196F3;
margin-bottom: 10px;
}

#luantaButton {
background-color: #FF9800;
margin-bottom: 10px;
}

#hessButton {
background-color: yellow;
color: black;
margin-bottom: 10px;
}

h1 {
    text-align: left;
    margin-left: 10%;
    max-width: 70%;
    padding-right: 220px;
  }
  
::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track {
background-color: #333333;
}

::-webkit-scrollbar-thumb {
background-color: #666666;
border-radius: 20px;
}

#security-img {
    width: 200px;
    vertical-align: middle;
    float:right;
    right:20%;
    bottom: 30%;
}

#description {
    text-align: left;
    margin-left: 10%;
    max-width: 70%;
    padding-right: 25%;
  }


.fullscreen {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
  }
@media only screen and (max-width: 768px) {
    .fullscreen {
      font-size: 12px;
      padding: 10px;
    }
    h1 {
        font-size: 18px !important;
    }
    #security-img {
        width: 100%;
        max-width: 100px; /* optional, add a maximum width for the image */
        height: auto; /* set the height to auto to maintain aspect ratio */

    }
  }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 17px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggle-switch-label {
  position: absolute;
  display: block;
  transform: translate(50%, -90%);
  font-size: 12px;
  color: black;
  transition: all 0.2s ease-in-out;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider ~ .toggle-switch-label {
  left: calc(23% + 5px);
}
